<h1>Book List</h1>

<%=@msg %><br>
<%=link_to '新規作成', '/create'%>
<table border="1">
  <tr>
    <th>タイトル</th>
    <th>著者</th>
    <td colspan="2"></td>
  </tr>
<% @booklists.each do | book | %>
  <tr>
    <td><%= book.name %></td>
    <td><%= book.writer %></td>
    <td><%=link_to '編集', "edit/#{book.id}"%></td>
    <td><%=link_to '削除', "delete/#{book.id}"%></td>
  </tr>
<% end %>
</table>
